@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine:700&display=swap');
body{
	margin: 0;
	padding: 0;
	font-family: 'Noto Serif', serif;
	background-image: url('../../images/image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	/*height: 100%;*/
	background-size: cover;
}
.container{
	width: 90%;
	margin: 0 auto;
}

.wrapper{
	width: 100%;
	margin: 0 auto;
}
.wrapper div{
	float: left;
}
.wrapper div img{
	width: 33%;
}

.quote{
	width: 100%;
	text-align: center;
	font-size: 45px;
	font-family: 'Tangerine', cursive;
}
.about{
	width: 30%;
	/*text-align: left;*/
}
/*STYLISH HEADER*/
header{
	width: 100%;
	/*background-color: #18bc9c;*/
	background-color: rgba(0, 0, 0, 0.7);
	/*background-color: transparent;*/
	height: 60px;
}
.blog_link{
	font-size: 20px;
	float: left;
	margin-top: 3px;
}
header a{
	text-decoration: none;
	font-size: 15px;
	color: #fff; 
	/*color: #000; */
	padding: 10px;
	/*font-size: 20px;*/
}

header a:hover{
	/*font-size: 20px;*/
	/*color:  #ff80bf;*/
}
header ul{
	display: inline;
}
header ul li{
	display: inline;
}
.main_left_nav{
	float: left
}
.main_left_nav li{
	/*list-style: none;*/
}

.main_right_nav{
	float: right;
}
.main_right_nav li{
	list-style: none;
}

h1{
	/*font-size: 30px;*/
	text-shadow: 5px 5px 5px grey;
	/*display: inline;*/
}

/*STYLISH BLOG PAGE (view-posts.php)*/
.wrap{
	width: 100%;
	height: auto;
	text-align: center;
	display: flex;
	flex-direction: row;
	/*justify-content: space-around;*/
	flex-flow: wrap;
}
.img{
	/*float: left;*/
	width: 80%;
	height: 200px;	
	/*width: 100%;*/
	/*height: 80%;	*/
	/*height: 200px;	*/
	/*display: inline;*/
	/*position: relative;*/
}
.post{
	/*display: inline-block;*/
	/*display: table-cell;*/
	/*flex: 1;*/
	/*padding: 16px;*/
	/*position: relative;	*/
	/*font-style: initial;*/
	width: 20%;
	margin: 20px;
	height: 500px;
	box-sizing: border-box;
	/*overflow: hidden;*/
	/*width: 20%;*/
	/*height: 300px;*/
	/*background: yellow;*/
	/*margin: 20px;*/

}
.post a{
	text-decoration: none;
	color: #000;
	/*height: 200px;*/
}
.post_info{
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.8);
	/*position: absolute;*/
	/*font-weight: initial;*/
	/*top: 0;*/
	border-radius: 5px;

}
small{
	display: block;
	/*background-color: #f4f4f4;*/
}

/*STYLISH HEIGHT AND WIDTH OF ALL IMAGES ON SITE exept latest posts images*/
img{
	height: 300px;
	width: 300px;
}


.user_data{
	width: 50%;
	float: right;
}
.user_posts_data{
	width: 50%;
	float: left;
}

/*STYLISH ALL BTNS ON SITE*/

.btn{
	text-decoration: none;
	color: #fff;
	border: 1px solid #000;
	padding: 6px;
	border-radius: 10px;
	margin-top: 5px;
	background: linear-gradient(to bottom left, #000 0%, #808080 70%);
}
.btn:hover{
	/*background-color: #141a1f;*/
	cursor: pointer;
}

/*STYLISH delete btn*/
button.btn_delete{
	background: linear-gradient(to bottom left, #000 0%, #d92626 70%);
	margin-left: 45%;
	font-size: 15px;
	height: 36px; 
	font-family: 'Noto Serif', serif;
}





/*STYLISH CATEGORY LIST GROUP (in home-categories.php)*/
.category_group > li{
	padding-bottom: 10px; 
}
.category_group > li > a{
	color: #000;
	text-decoration: none;
}
.category_group > li > a:hover{
	text-decoration: underline;
	color: #146b6b;
}


/*STYLISH FORM FOR CREATING NEW POSTS (in home-create.php)*/
form{
	/*background-color: rgba(0, 0, 0, 0.7);*/
}
.form-member{
	padding: 20px;
}
.form-member > label{
	display: block;
}
.form-member > input{
	width: 100%;
	height: 30px;
}
.form-member > textarea{
	width: 100%;
}
.create_btn,
.update_btn{
	margin-left: 20px;
}
.form-member > select{
	width: 100%;
	height: 30px;
	color: grey;
	font-size: 15px;
}

option{
	color: grey;
	font-size: 15px;
}
::placeholder{
	color: grey;
	font-size: 15px;
}

/*STYLISH ERRORS IN CRETE NEW POST VIEW*/

#errorContainer {
	display: none;
	overflow: auto;
	background-color: #FFDDDD;
	border: 1px solid #FF2323;
	padding-top: 0;
}

#errorContainer label {
	float: none;
	width: auto;
}

/*PROFILE INFO*/

#user_info{
	/*display: inline;*/
	position: absolute;
	top: 70px;
	right: 20px;
	height: 150px;
	width: 400px;
	background-color: #fff;
	/*border: 1px solid black;*/
}
#user_info > div{
	width: 50%;
	float: left;
}
#user_info > div p{
	text-align: right;
	font-style: italic;
	
}

#user_info > img{
	float: right;
	border: 2px solid grey;
	width: 150px;
	height: 150px;
}


/*POP UP DELETE*/

.pop-up{
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border: 1px solid grey;
	border-radius: 10px;
	z-index: 10;
	background-color: #C0C0C0;
	height: 200px;
	width: 300px;
	/*max-width: 80%;*/
}

.pop-up.active{
	transform: translate(-50%, -50%) scale(1);
}

.delete, 
.cancel{
	margin: 10px;
	border: 1px solid grey;
	padding: 5px;
	border-radius: 10px;
	font-size: 15px;
	font-weight: bold;
	line-height: 100px;
	cursor: pointer;
	text-decoration: none;
	color: white;
}

.delete{
	background-color: #630017;
}
.cancel{
	background-color: #2c3e50;
}

.delete:hover, 
.cancel:hover{
	font-size: 30px;
}

#overlay{
	position: fixed;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	pointer-events: none;
}

#overlay.active{
	opacity: 1;
	pointer-events: all;

}






/*STYLISH FORM FOR REGISTRATION AND LOGIN*/

/*STYLISH POP UP FORM FOR REGISTER AND LOG IN*/
.pop-up-form{
/*	background-image: url('../../images/splash.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;*/
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border: 1px solid grey;
	border-radius: 10px;
	z-index: 10;
	background-color: rgba(255,255,255);
	height: 90%;
	width: 50%;
}

.pop-up-form.access_form{
	transform: translate(-50%, -50%) scale(1);
}

#overlay.access_form{
	opacity: 1;
	pointer-events: all;	
}
.pop-up-form > a{
	border-radius: 50%;
	padding: 3px;
	display: inline-block;
	width: 20px;
	position: relative;
	left: 365px;
	bottom: 15px;
}

.pop-up-form  p{
	display: none;
}
.pop-up-form  p.err{
	display: block;
	font-size: small;
	padding: 0;
	margin: 0;
	/*margin-right: 40px;*/
	color: red;
}

/*FORM*/
.login{
	float: left;
	margin-left: 80px;
}
.login form{
	margin-bottom: 15px;
}
.login a{
	color: #2c3e50;
	text-decoration: none;
	font-size: 15px;
}

.register{
	float: right;
	margin-right: 80px;
}

.form-article > label{
	display: block;
	color: grey;
}
.form-article > input:not([type="file"]){
	border: 0;
	outline: 0;
	border-bottom: 2px solid black;
	text-align: center;
	/*font-weight: bold;*/
	font-size: 15px;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #fff inset;
}


/*STYLISH BACK TO TOP BTN*/
.back_to_top{
	text-decoration: none;
	text-align: center;
	padding: 5px 10px 5px 10px;
	font-size: 25px;
	font-style: normal;
	background-color: lightgrey;
	color: #2c3e50;
	position: fixed;
	right: 50px;
	bottom: 50px;
	border-radius: 2px;
}
.back_to_top span{
	animation: blinker 1s linear infinite;	
	font-weight: bold;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}


